.slider {
     margin: 0 auto;
     position: relative;
     max-width: 1170px;
     max-height: 700px;
     margin-top: 30px;
}

.slider > img {
     box-shadow: 0 29.5px 38px #e0e0e0;

     position: absolute;
     left: 52%;
    top: 50%;
    width: 32%;
    height: 82%;
     transition: transform .5s;
     transform: translate(-50%, -50%) scale(1);

     z-index: 0;
}

.slider > img.left,
.slider > img.center,
.slider > img.right {
     display: inline-block;
     opacity: 1;
}

.slider > img.sub-left {
     transform: translate(-196.25%, -50%);
     z-index: 1;
}
.slider > img.left {
     transform: translate(-118.25%, -50%) scale(1.07);
     z-index: 2;
     transform-origin: bottom center;

}

.slider > img.center {
     z-index: 3;
     transform: translate(-50%, -50%) scale(1.2);
     transform-origin: bottom center;
}

.slider > img.sub-right {
     transform: translate(18.25%, -50%) scale(1.07);
     z-index: 2;
     transform-origin: bottom center;

}
.slider > img.right {
     transform: translate(85.25%, -50%);
     z-index: 1;
}
.slider > .navContainer {
     width: 64%;
     height: 100%;
     position: absolute;
     left: -10%;
     top: 10%;
     cursor: pointer;
     display: inline-block;
     z-index: 500;
}
.slider> .navContainer-right{
     left: 52%;
     width: 59%;
}

.slider > .navContainer > .rightClass {
     right: 0;
     background-position-x: -30px;

}

.slider > .navContainer > .leftClass {
     left: 0;
}
